<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<!-- Stylesheets for different pages -->
<link rel="stylesheet" href="{{ 'section-alternate-product.css' | asset_url }}" media="print" onload="this.media='all'">

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="alternate-product section-{{ section.id }}-padding">
  <div class="page-width__banner" style="background-image: url('{{ section.settings.banner_background | img_url: 'master' }}')">
    <div class="page-width__banner-text">
      <div class="main-page-title__content">
        <h1 class="main-page-title__first-word">{{ section.settings.banner_title_first_word }}</h1>
        <h1 class="main-page-title page-title">{{ section.settings.banner_title_rest }}</h1>           
      </div>
      <div class="main-page-subtitle__content">
        <h3 class="main-page-subtitle">{{ section.settings.banner_subtitle }}</h3>
      </div>
    </div>
  </div>

  <div class="alternate-product__product">
    <div class="alternate-product__product-top-half">
      <div class="product-top-half__product-image">[Image]</div>
      <div class="product-top-half__product-info">

        <div class="product-info__heading">
          <h3 class="product-info__heading-title">{{ product.title }}</h3>
          <div class="product-info__heading-review-social">
            <div class="review-social__review">
              <div class="review-social__review-stars">&#9733;&#9733;&#9733;&#9733;&#9734;</div>
              <div class="review-social__review-number">3 Reviews(s)</div>
              <div class="review-social__review-add-review"><span>|</span><p>Add a Review</p><span>|</span></div>
            </div>
            <div class="review-social__social">
              <ul>
                <li>Share:</li>
                <li><i class="fa-brands fa-facebook-f"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-google-plus-g"></i></li>
                <li><i class="fa-brands fa-pinterest-p"></i></li>
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-light fa-envelope"></i></li>
              </ul>
            </div>
          </div>




        </div>


      </div>
    </div>

    <div class="alternate-product__product-bottom-half"></div>
  </div>


</div>

{% schema %}
{
  "name": "Alternate Product",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "image_picker",
      "id": "banner_background",
      "label": "Banner Background"
    },
    {
      "type": "text",
      "id": "banner_title_first_word",
      "label": "Banner Title - First Word"
    },
    {
      "type": "text",
      "id": "banner_title_rest",
      "label": "Banner Title - Rest of the Title"
    },
    {
      "type": "text",
      "id": "banner_subtitle",
      "label": "Banner Subtitle"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
