{{ 'section-header-2.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .header-2__top-header {
    background-color: {{ section.settings.top_header_background_color }};
    font-family: {{ section.settings.top_header_font_family.family }};
    font-size: 1.2rem;
  }

  .top-header__left-container, .top-header__right-container {
    color: {{ section.settings.top_header_font_color }};
  }

  .fa-cart-shopping {
    font-size: 1.5rem;
  }

  .top-header__right-container {
    padding-right: 5%;
  }
  
  .top-header__right-container > .right-container__cart > .fa-cart-shopping, .fa-angle-down, a {
    color: {{ section.settings.top_header_cart_color }};
  }

  .top-header__right-container > .right-container__cart {
    background-color: {{ section.settings.top_header_cart_background_color }};
    height: 100%;
  }
{%- endstyle -%}

<script>
  /* Set the width of the sidebar to 250px (show it) */
  function openNav() {
    document.getElementById("mySidepanel").style.left = "0";
  }

  /* Set the width of the sidebar to 0 (hide it) */
  function closeNav() {
    document.getElementById("mySidepanel").style.left = "-100%";
  }  
</script>

<div class="sidepanel" id="mySidepanel">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  {%- for link in linklists.bottom-menu.links -%}
    <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
      {{ link.title }}
    </a>
  {%- endfor -%}
</div>

<div class="header-2">
  <div class="header-2__mobile-menu">
    <div class="mobile-menu__content">
      <div class="mobile-menu__content-hamburger-menu">
        <button class="openbtn" onclick="openNav()">
          <div class="hamburger-bar"></div>
          <div class="hamburger-bar"></div>
          <div class="hamburger-bar"></div>
        </button>
      </div>
      <div class="mobile-menu__content-logo">
        <a href="{{ routes.root_url }}">
          {%- if section.settings.logo != blank -%}
            <img
              src="{{ section.settings.logo | img_url: 'medium' }}"
              loading="lazy"
              width="auto"
              height="auto"
              alt="logo"
            >
          {%- endif -%}
        </a> 
      </div>
    </div>
  </div>  
  <div class="header-2__desktop-menu">
    <div class="header-2__top-header">
      <div class="top-header__left-container">
        <p class="left-container__currency-converter">Currency: GBP</p>
      </div>
      <div class="top-header__right-container">
        <ul class="right-container__account-menu">
          <li>Register</li>
          <li>Sign In</li>
        </ul>
        <ul class="right-container__cart">
          <i class="fa-solid fa-cart-shopping"></i>
          <a href="{{ routes.cart_url }}">
            {%- if cart == empty -%}
              {{ 'empty' }}
            {%- else -%}
              {{ cart.item_count }}
            {%- endif -%}
          </a>
          <i class="fa-light fa-angle-down fa-xs"></i>
        </ul>
      </div>
    </div>
    <div class="header-2__bottom-header">
      <div class="bottom-header__left-container">
        <a href="{{ routes.root_url }}">
          {%- if section.settings.logo != blank -%}
            <img
              src="{{ section.settings.logo | img_url: 'medium' }}"
              loading="lazy"
              width="auto"
              height="auto"
              alt="logo"
            >
          {%- endif -%}
        </a>      
      </div>
      
      <div class="bottom-header__right-container">
        <nav class="navigation" role="navigation">
          <ul class="menu">
            {%- for link in linklists.bottom-menu.links -%}
              <li>
                <a href="{{ link.url }}" class="menu__name" {% if link.active %}aria-current="page"{% endif %}>
                  {{ link.title }}
                </a>
        
                {%- if link.links != blank -%}
                  <ul class="menu__block">
                    {%- for child_link in link.links -%}
                      <li>
                        <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                          {{ child_link.title }}
                        </a>
        
                        {%- if child_link.links != blank -%}
                          <ul>
                            {%- for grandchild_link in child_link.links -%}
                              <li>
                                <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                                  {{ grandchild_link.title }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        {%- endif -%}
        
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
        
              </li>
            {%- endfor -%}
          </ul>
        </nav>

        <div class="form-group fg--search">
          <input type="text" class="input" placeholder="Search..">
          <button type="submit"><i class="fa fa-search"></i></button>
        </div>

      </div>

    </div>    
  </div>


</div>

{% schema %}
  {
    "name": "header-2",
    "tag": "section",
    "settings": [
      {
        "type": "font_picker",
        "id": "top_header_font_family",
        "label": "Top Header Font Family",
        "default": "helvetica_n4"
      },
      {
        "type": "color",
        "id": "top_header_font_color",
        "label": "Top Header Font Color",
        "default": "#999999"
      },
      {
        "type": "color",
        "id": "top_header_background_color",
        "label": "Top Header Background Color",
        "default": "#333333"
      },
      {
        "type": "color",
        "id": "top_header_cart_color",
        "label": "Top Header Cart Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "top_header_cart_background_color",
        "label": "Top Header Cart Background Color",
        "default": "#00c8c8"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      }
    ]
  }
{% endschema %}