<!-- <link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'"> -->
<!-- <link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'"> -->

<!-- Stylesheets for different pages -->
<link rel="stylesheet" href="{{ 'page-local-stores.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<script>
  window.onload = function() {
    view_details(event, "London");    
  }
  
  function view_details(evt, cityName){
      // Declare all variables
    var i, location__content, view_button;
    
    // Show element with id cityName and hide other locations

    location__content = document.getElementsByClassName("location__content");

    for(i = 0; i < location__content.length; i++){
      if(location__content[i].id == cityName){
        console.log('cityName', cityName);
        console.log(location__content[i]);

        if(window.innerWidth < 768){
          location__content[i].style.display = "block";
        } else {
          location__content[i].style.display = "flex";
        }

      } else {
        location__content[i].style.display = "none";
      }
    }  



    
  }
</script>

<div class="local-stores-page section-{{ section.id }}-padding">
  <div class="page-width__banner" style="background-image: url('{{ section.settings.banner_background | img_url: 'master' }}')">
    <div class="page-width__banner-text">
      <div class="main-page-title__content">
        <h1 class="main-page-title__first-word">{{ section.settings.banner_title_first_word }}</h1>
        <h1 class="main-page-title page-title">{{ page.title | escape }}</h1>           
      </div>
      <div class="main-page-subtitle__content">
        <h3 class="main-page-subtitle">{{ section.settings.banner_subtitle }}</h3>
      </div>
    </div>
  </div>

  <div class="local-stores-page-content">
    <div class="local-stores">
      <div class="stores">
        <div class="stores__store">
          <h3 class="stores__store-city">London</h3>
          <p class="stores__store-address">180-182 Regent Street, London, W1B 5BT</p>
          <p class="stores__store-description">Lorem ipsum dolor sit amet, consectetur adipiscing esielit. Vivamus at arcu sem. Vestibulum omare eleifendit massa, nec tempor odio. Fusce posuere nunc iaculs ligula viverra iaculis. Aliquam erat volutpat.</p>
          <button class="view__button" onclick="view_details(event,'London')">View Details</button>
        </div>

        <div class="stores__store">
          <h3 class="stores__store-city">New York</h3>
          <p class="stores__store-address">109 Columbus Circle, New York, NY 10023</p>
          <p class="stores__store-description">Nunc non posuere nisl. Etiam finibus vel dui nec lobortis. Aliquam egestas, sem quis condimentum venenatis, erat leo fermentum dolor, non sollicitudin massa mieu nibh. Nullam vitae aliquam dui, non sodales nisl.</p>
          <button class="view__button" onclick="view_details(event,'New_York')">View Details</button>
        </div>

        <div class="stores__store">
          <h3 class="stores__store-city">Paris</h3>
          <p class="stores__store-address">2133 Rue Saint-honore, 75001 Paris</p>
          <p class="stores__store-description">Ut interdum fermentum blandit. Donec nec lacus egetit mi rhoncus eleifend. Curabitur laoreet nisl eget rutruml auctor. Vestibulum ante ipsum primis in faucibus orcip luctus et ultrices posuere cubilia curae cras ligula.</p>
          <button class="view__button" onclick="view_details(event,'Paris')">View Details</button>
        </div>
      </div>

      <div class="location">
        <div class="location__content" id="London">
          <div class="location__content-map">
            <img src="https://cdn.shopify.com/s/files/1/0562/4614/1043/files/london_map.png?v=1648580617" alt="london_map">
          </div>

          <div class="location__content-info">
            <h3 class="stores__store-city">London</h3>
            <p class="stores__store-address">180-182 Regent Street, London, W1B 5BT</p>
            <p class="stores__store-description">Lorem ipsum dolor sit amet, consectetur adipiscing esielit. Vivamus at arcu sem. Vestibulum omare eleifendit massa, nec tempor odio. Fusce posuere nunc iaculs ligula viverra iaculis. Aliquam erat volutpat.</p>
            <h3 class="stores__store-bullet-point">
            <span><i class="fa-solid fa-location-dot"></i></span> 180-182 Regent Street, London, W1B 5BT</h3>
            <h3 class="stores__store-bullet-point">
            <span><i class="fa-solid fa-phone"></i></span> 0123-456-789</h3>
            <h3 class="stores__store-bullet-point">
            <span><i class="fa-solid fa-link"></i></span>www.yourwebsite.com</h3>
            <h3 class="stores__store-bullet-point">
            <span><i class="fa-light fa-envelope"></i></span> support@yourwebsite.com</h3>
            <h3 class="stores__store-bullet-point">
            <span><i class="fa-solid fa-timer"></i></span> Monday-Friday: 9am to 6pm Saturday: 10am to 6pm Sunday: 10am to 2pm</h3>

            <div class="stores__store-social-container">
              <div class="stores__store-social-icon"><i class="fa-brands fa-facebook-f"></i></div>
              <div class="stores__store-social-icon"><i class="fa-brands fa-twitter"></i></div>
              <div class="stores__store-social-icon"><i class="fa-brands fa-instagram"></i></div>
              <div class="stores__store-social-icon"><i class="fa-brands fa-pinterest"></i></div>
            </div>
          </div>
        </div>

        <div class="location__content" id="New_York">
          <div class="location__content-map">
            <img src="https://cdn.shopify.com/s/files/1/0562/4614/1043/files/london_map.png?v=1648580617" alt="london_map" />
          </div>

          <div class="location__content-info">
            <h3 class="stores__store-city">New York</h3>
            <p class="stores__store-address">109 Columbus Circle, New York, NY 10023</p>
            <p class="stores__store-description">Nunc non posuere nisl. Etiam finibus vel dui nec lobortis. Aliquam egestas, sem quis condimentum venenatis, erat leo fermentum dolor, non sollicitudin massa mieu nibh. Nullam vitae aliquam dui, non sodales nisl.</p>
            <h3 class="stores__store-bullet-point">
            <span><i class="fa-solid fa-location-dot"></i></span>109 Columbus Circle, New York, NY 10023</h3>
            <h3 class="stores__store-bullet-point">
            <span><i class="fa-solid fa-phone"></i></span> 0123-456-789</h3>
            <h3 class="stores__store-bullet-point">
            <span><i class="fa-solid fa-link"></i></span>www.yourwebsite.com</h3>
            <h3 class="stores__store-bullet-point">
            <span><i class="fa-light fa-envelope"></i></span> support@yourwebsite.com</h3>
            <h3 class="stores__store-bullet-point">
            <span><i class="fa-solid fa-timer"></i></span> Monday-Friday: 9am to 6pm Saturday: 10am to 6pm Sunday: 10am to 2pm</h3>

            <div class="stores__store-social-container">
              <div class="stores__store-social-icon"><i class="fa-brands fa-facebook-f"></i></div>
              <div class="stores__store-social-icon"><i class="fa-brands fa-twitter"></i></div>
              <div class="stores__store-social-icon"><i class="fa-brands fa-instagram"></i></div>
              <div class="stores__store-social-icon"><i class="fa-brands fa-pinterest"></i></div>
            </div>
          </div>
        </div>

        <div class="location__content" id="Paris">
          <div class="location__content-map">
            <img src="https://cdn.shopify.com/s/files/1/0562/4614/1043/files/london_map.png?v=1648580617" alt="london_map">
          </div>

          <div class="location__content-info">
            <h3 class="stores__store-city">Paris</h3>
            <p class="stores__store-address">2133 Rue Saint-honore, 75001 Paris</p>
            <p class="stores__store-description">Ut interdum fermentum blandit. Donec nec lacus egetit mi rhoncus eleifend. Curabitur laoreet nisl eget rutruml auctor. Vestibulum ante ipsum primis in faucibus orcip luctus et ultrices posuere cubilia curae cras ligula.</p>
            <h3 class="stores__store-bullet-point">
            <span><i class="fa-solid fa-location-dot"></i></span>2133 Rue Saint-honore, 75001 Paris</h3>
            <h3 class="stores__store-bullet-point">
            <span><i class="fa-solid fa-phone"></i></span> 0123-456-789</h3>
            <h3 class="stores__store-bullet-point">
            <span><i class="fa-solid fa-link"></i></span>www.yourwebsite.com</h3>
            <h3 class="stores__store-bullet-point">
            <span><i class="fa-light fa-envelope"></i></span> support@yourwebsite.com</h3>
            <h3 class="stores__store-bullet-point">
            <span><i class="fa-solid fa-timer"></i></span> Monday-Friday: 9am to 6pm Saturday: 10am to 6pm Sunday: 10am to 2pm</h3>

            <div class="stores__store-social-container">
              <div class="stores__store-social-icon"><i class="fa-brands fa-facebook-f"></i></div>
              <div class="stores__store-social-icon"><i class="fa-brands fa-twitter"></i></div>
              <div class="stores__store-social-icon"><i class="fa-brands fa-instagram"></i></div>
              <div class="stores__store-social-icon"><i class="fa-brands fa-pinterest"></i></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "image_picker",
      "id": "banner_background",
      "label": "Banner Background"
    },
    {
      "type": "text",
      "id": "banner_title_first_word",
      "label": "Banner Title - First Word"
    },
    {
      "type": "text",
      "id": "banner_subtitle",
      "label": "Banner Subtitle"
    }
  ]
}
{% endschema %}
