{{ 'section-multi-collections-promo.css' | asset_url | stylesheet_tag }}

<script>
  window.onload = function() {
    openCity(event, 'Latest');    
  }
  
  function openCity(event, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    if(window.innerWidth <= 768){
      document.getElementById(cityName).style.display = "block";
    } else if(window.innerWidth > 768) {
      document.getElementById(cityName).style.display = "flex";
    }
    
    event.currentTarget.className += " active";
  }
</script>

<div class="multi-collections-promo">
  <hr>

  <!-- Tab links -->
  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'Latest')">Latest</button>
    <button class="tablinks" onclick="openCity(event, 'Most_Liked')">Most Liked</button>
    <button class="tablinks" onclick="openCity(event, 'Best_Sellers')">Best Sellers</button>
    <button class="tablinks" onclick="openCity(event, 'Price_Low_To_High')">Price Low To High</button>
    <button class="tablinks" onclick="openCity(event, 'Price_High_To_Low')">Price High To Low</button>
  </div>

  <!-- Tab content -->
  <div class="tabcontent__container">
    <div id="Latest" class="tabcontent">
      <div class="tabcontent__grid">
        {% for product in collections['latest'].products limit: 2 %}
          <div class="tabcontent__grid-product item">
            <a href="{{ product.url }}">
              <img src="{{ product.featured_image | img_url: 'medium' }}" alt="product_image">              
            </a>            
          </div>
        {% endfor %}

        <div class="tabcontent__grid-promo item" id="promo-1" style="background-image: url('{{ section.settings.promo_1_image | image_url }}');">
          <img src="{{ section.settings.promo_1_title_image | img_url: 'grande' }}" alt="title" loading="lazy" />
          <h4>{{ section.settings.promo_1_subtitle }}</h4>
          <p>{{ section.settings.promo_1_description_1 }}</p>
          <p>{{ section.settings.promo_1_description_2 }}</p>
          <a href="#">
            <button>View Now</button>            
          </a>
        </div>

        {% for product in collections['latest'].products limit: 4 offset: continue %}
          <div class="tabcontent__grid-product item">
            <a href="{{ product.url }}">
              <img src="{{ product.featured_image | img_url: 'medium' }}" alt="product_image">              
            </a>            
          </div>
        {% endfor %}

        <div class="tabcontent__grid-promo item" id="promo-2" style="background-image: url('{{ section.settings.promo_2_image | image_url }}');">
          <div class="item__left">
            <img src="{{ section.settings.promo_2_title_image | img_url: 'grande' }}" alt="title" loading="lazy" />
            <h4>{{ section.settings.promo_2_subtitle }}</h4>
            <p>{{ section.settings.promo_2_description_1 }}</p>
            <p>{{ section.settings.promo_2_description_2 }}</p>
            <a href="#">
              <button>Shop Now</button>            
            </a>
            <p class="terms">{{ section.settings.promo_2_terms }}</p>
          </div>
          <div class="item__right">
            <img src="{{ section.settings.promo_2_slogan_image_1 | img_url: 'grande' }}" alt="title" loading="lazy" />
            <img src="{{ section.settings.promo_2_slogan_image_2 | img_url: 'grande' }}" alt="title" loading="lazy" />
          </div>
        </div>

        {% for product in collections['latest'].products limit: 4 offset: continue %}
          <div class="tabcontent__grid-product item">
            <a href="{{ product.url }}">
              <img src="{{ product.featured_image | img_url: 'medium' }}" alt="product_image">              
            </a>            
          </div>
        {% endfor %}
      </div>





    </div>

    <div id="Most_Liked" class="tabcontent">
      <h3>Most Liked</h3>
      <p>Most Liked is the capital of Covid19.</p>
    </div>
  
    <div id="Best_Sellers" class="tabcontent">
      <h3>Best Sellers</h3>
      <p>Best Sellers is the capital of Japan.</p>
    </div>
  
    <div id="Price_Low_To_High" class="tabcontent">
      <h3>Price Low To High</h3>
      <p>Price Low To High is the capital of California.</p>
    </div>
  
    <div id="Price_High_To_Low" class="tabcontent">
      <h3>Price High To Low</h3>
      <p>Price High To Low is the capital of Covid19.</p>
    </div>
  </div>


  <hr>
</div>

{% schema %}
  {
    "name": "multi-collections-promo",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "promo_1_image",
        "label": "Promo 1 Image"
      },
      {
        "type": "image_picker",
        "id": "promo_1_title_image",
        "label": "Promo 1 Title Image"
      },
      {
        "type": "text",
        "id": "promo_1_subtitle",
        "label": "Promo 1 Subtitle"
      },
      {
        "type": "text",
        "id": "promo_1_description_1",
        "label": "Promo 1 Description 1"
      },
      {
        "type": "text",
        "id": "promo_1_description_2",
        "label": "Promo 1 Description 2"
      },
      {
        "type": "image_picker",
        "id": "promo_2_image",
        "label": "Promo 2 Image"
      },
      {
        "type": "image_picker",
        "id": "promo_2_title_image",
        "label": "Promo 2 Title Image"
      },
      {
        "type": "text",
        "id": "promo_2_subtitle",
        "label": "Promo 2 Subtitle"
      },
      {
        "type": "text",
        "id": "promo_2_description_1",
        "label": "Promo 2 Description 1"
      },
      {
        "type": "text",
        "id": "promo_2_description_2",
        "label": "Promo 2 Description 2"
      },
      {
        "type": "text",
        "id": "promo_2_terms",
        "label": "Promo 2 Terms"
      },
      {
        "type": "image_picker",
        "id": "promo_2_slogan_image_1",
        "label": "Promo 2 Slogan Image 1"
      },
      {
        "type": "image_picker",
        "id": "promo_2_slogan_image_2",
        "label": "Promo 2 Slogan Image 2"
      }
    ]
  }
{% endschema %}