{{ 'section-multi-collections.css' | asset_url | stylesheet_tag }}

<script>
  window.onload = function() {
    openCity(event, 'Popular');    
  }
  
  function openCity(event, cityName) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(cityName).style.display = "flex";
    event.currentTarget.className += " active";
  }
</script>

<div class="multi-collections">
  <hr>

  <!-- Tab links -->
  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'Popular')">Popular</button>
    <button class="tablinks" onclick="openCity(event, 'New_Arrivals')">New Arrivals</button>
    <button class="tablinks" onclick="openCity(event, 'Best_Sellers')">Best Sellers</button>
    <button class="tablinks" onclick="openCity(event, 'Special_Offers')">Special Offers</button>
    <button class="tablinks" onclick="openCity(event, 'Coming_Soon')">Coming Soon</button>
  </div>

  <!-- Tab content -->
  <div class="tabcontent__container">
    <div id="Popular" class="tabcontent">
      <div class="tabcontent__column-1">
        {% for product in collections['popular'].products limit: 3 %}
          <div class="column-1__product">
            <a href="{{ product.url }}">
              <img src="{{ product.featured_image | img_url: 'medium' }}" alt="product_image">              
            </a>
            <div class="column-1__product-price">
              {% if product.compare_at_price %}
                <div class="price-original">{{ product.compare_at_price | money }}</div>
                <div class="price-new">{{ product.price | money }}</div>
              {% else%}
                <div class="price-new">{{ product.price | money }}</div>
              {% endif %}
            </div>
            <div class="column-1__product-description">
              <h4>{{ product.title }}<span>{{ product.price | money }}</span></h4>
              <p>{{ product.description }}</p>
              <div class="icons">
                <div class="icons__cart"><i class="fa-solid fa-cart-shopping"></i></div>
                <div class="icons__lookbook"><i class="fa-regular fa-heart"></i></div>
                <div class="icons__compare"><i class="fa-solid fa-arrow-down-left-and-arrow-up-right-to-center"></i><</div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="tabcontent__column-2">
        {% for product in collections['popular'].products limit: 3 offset: 3 %}
          <div class="column-2__product">
            <a href="{{ product.url }}">
              <img src="{{ product.featured_image | img_url: 'medium' }}" alt="product_image">              
            </a>
            <div class="column-2__product-price">
              {% if product.compare_at_price %}
                <div class="price-original">{{ product.compare_at_price | money }}</div>
                <div class="price-new">{{ product.price | money }}</div>
              {% else%}
                <div class="price-new">{{ product.price | money }}</div>
              {% endif %}
            </div>
            <div class="column-2__product-description">
              <h4>{{ product.title }}<span>{{ product.price | money }}</span></h4>
              <p>{{ product.description }}</p>
              <div class="icons">
                <div class="icons__cart"><i class="fa-solid fa-cart-shopping"></i></div>
                <div class="icons__lookbook"><i class="fa-regular fa-heart"></i></div>
                <div class="icons__compare"><i class="fa-solid fa-arrow-down-left-and-arrow-up-right-to-center"></i></div>
              </div>
            </div>        
          </div>
        {% endfor %}        
      </div>
    </div>

    <div id="New_Arrivals" class="tabcontent">
      <h3>Paris</h3>
      <p>Paris is the capital of Covid19.</p>
    </div>
  
    <div id="Best_Sellers" class="tabcontent">
      <h3>Tokyo</h3>
      <p>Tokyo is the capital of Japan.</p>
    </div>
  
    <div id="Special_Offers" class="tabcontent">
      <h3>San Francisco</h3>
      <p>San Francisco is the capital of California.</p>
    </div>
  
    <div id="Coming_Soon" class="tabcontent">
      <h3>Wuhan</h3>
      <p>Wuhan is the capital of Covid19.</p>
    </div>
  </div>


  <hr>
</div>

{% schema %}
  {
    "name": "multi-collections"
  }
{% endschema %}