{{ 'section-multicolumn2.css' | asset_url | stylesheet_tag }}

<div class="multicolumn2">
  {%- for block in section.blocks -%}
    <div class="multicolumn2__column" style="background-image: url('{{ block.settings.background_image | img_url: 'master' }}')">
      <div class="multicolumn2__column-content">
        <img class="multicolumn2__column-title" src="{{ block.settings.column_title | img_url: 'medium' }}" loading="lazy" width="auto" height="auto">
        <p class="multicolumn2__column-description">{{ block.settings.column_description }}</p>
        <a href="{{ section.blocks.settings.column_button_url }}">
          <button class="multicolumn2__column-button">{{ block.settings.column_button_text }}</button>        
        </a>        
      </div>
    </div>
  {%- endfor -%}
</div>

{% schema %}
  {
    "name": "multicolumn2",
    "blocks": [
      {
        "name": "Column",
        "type": "column",
        "settings": [
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Background Image"
          },
          {
            "type": "image_picker",
            "id": "column_title",
            "label": "Column Title"
          },
          {
            "type": "text",
            "id": "column_description",
            "label": "Column Description"
          },
          {
            "type": "url",
            "id": "column_button_url",
            "label": "Column Button URL"
          },
          {
            "type": "text",
            "id": "column_button_text",
            "label": "Column Button Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Columns",
        "blocks": [
          {
            "type": "column"
          },
          {
            "type": "column"
          },
          {
            "type": "column"
          }
        ]
      }
    ]
  }
{% endschema %}